// Generate a series of Social Buttons and Functions
- function createSocialButtons( $imageToUse ) {
	
div.social-btns.hide-icon
	a.social-icon-more.ir(href="#")
	div.social-content
		a.ir.social-icon-twitter.social-btn(href="#",onclick="postToTwitter( '#{$imageToUse}' )") Twitter
		a.ir.social-icon-facebook.social-btn(href="#",onclick="postToFacebook( '#{$imageToUse}' )") Facebook
		a.ir.social-icon-gplus.social-btn(href="#",onclick="postToGooglePlus( '#{$imageToUse}' )") Google Plus
		a.ir.social-icon-pinterest.social-btn(href="#",onclick="postToPinterest( '#{$imageToUse}' )") Pinterest

- }

// Generate a series of Social Buttons and Functions
- function createSocialButtonsNoContainer( $imageToUse ) {
	
a.ir.social-icon-twitter.social-btn(href="#",onclick="postToTwitter( '#{$imageToUse}' )") Twitter
a.ir.social-icon-facebook.social-btn(href="#",onclick="postToFacebook( '#{$imageToUse}' )") Facebook
a.ir.social-icon-gplus.social-btn(href="#",onclick="postToGooglePlus( '#{$imageToUse}' )") Google Plus
a.ir.social-icon-pinterest.social-btn(href="#",onclick="postToPinterest( '#{$imageToUse}' )") Pinterest

- }